html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

p {
  margin-bottom: 10px; }

a, a:hover {
  text-decoration: none; }

* {
  box-sizing: border-box;
  outline: none; }

ul {
  padding: 0;
  margin: 0; }

ul li {
  list-style-type: none; }

/*Font custom */
@font-face {
  font-family: 'Roboto-Regular';
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto-Regular.svg#Roboto-Regular") format("svg"), url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
.img-responsive {
  max-width: 100%;
  height: auto; }

/*define*/
*, html, body {
  font-family: "Roboto-Regular", sans-serif; }

body {
  font-size: 14px;
  color: #ffffff;
  background: #f1f1f1; }
  body a {
    color: #ffffff; }
    body a:hover, body a:active, body a:visited, body a:focus {
      cursor: pointer;
      color: #ffffff; }

header#header-logo-main {
  background: url("../images/banner-home.jpg") no-repeat top center;
  -webkit-background-size: 100%;
  background-size: 100%;
  height: auto;
  width: 100%;
  /*navigate status social top*/
  /*navigate status social top*/
  /*box menu navigation header*/
  /*box menu navigation header*/
  /*box advertise*/
  /*box advertise*/ }
  header#header-logo-main .bar-top-header {
    border-bottom: 1px solid #ffffff;
    /*list socials*/ }
    header#header-logo-main .bar-top-header .button-top {
      text-align: center;
      border-right: 1px solid #ffffff;
      padding: 7px 0; }
      header#header-logo-main .bar-top-header .button-top a {
        padding-left: 20px;
        position: relative; }
        header#header-logo-main .bar-top-header .button-top a:before {
          content: '';
          display: inline-block;
          width: 15px;
          height: 15px;
          position: absolute;
          top: 2px;
          left: 0; }
    header#header-logo-main .bar-top-header .phone-number a.telephone:before {
      background: url("../images/ico-phone.png") no-repeat center center;
      -webkit-background-size: 100% auto;
      background-size: 100% auto; }
    header#header-logo-main .bar-top-header .send-mail a.email:before {
      background: url("../images/ico-mail.png") no-repeat center center;
      -webkit-background-size: 100% auto;
      background-size: 100% auto; }
    header#header-logo-main .bar-top-header .list-socials {
      border-left: 1px solid #ffffff;
      padding: 7px 0 7px 20px; }
      header#header-logo-main .bar-top-header .list-socials ul.box-socials li.item-social {
        display: inline-block;
        padding-left: 20px; }
        header#header-logo-main .bar-top-header .list-socials ul.box-socials li.item-social span.icon {
          display: inline-block;
          width: 15px;
          height: 15px;
          background: url("../images/list-icon-socials.png") no-repeat;
          -webkit-background-size: auto 100%;
          background-size: auto 100%; }
        header#header-logo-main .bar-top-header .list-socials ul.box-socials li.item-social span.fb {
          background-position: -3px 0; }
        header#header-logo-main .bar-top-header .list-socials ul.box-socials li.item-social span.twitter {
          background-position: -32px 0; }
        header#header-logo-main .bar-top-header .list-socials ul.box-socials li.item-social span.instagram {
          background-position: -66px 0; }
        header#header-logo-main .bar-top-header .list-socials ul.box-socials li.item-social span.global {
          background-position: -97px 0; }
        header#header-logo-main .bar-top-header .list-socials ul.box-socials li.item-social span.pinteres {
          background-position: -128px 0; }
        header#header-logo-main .bar-top-header .list-socials ul.box-socials li.item-social span.other {
          background-position: -159px 0; }
  header#header-logo-main .box-menu-header {
    padding-top: 20px; }
    header#header-logo-main .box-menu-header .logo-main {
      text-align: center; }
    header#header-logo-main .box-menu-header .nav-logo-page ul.box-main-menu li.list-menu {
      float: left;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      header#header-logo-main .box-menu-header .nav-logo-page ul.box-main-menu li.list-menu a.item-menu {
        display: inline-block;
        padding: 5px 20px;
        font-size: 1.3em;
        text-transform: uppercase;
        font-weight: bold; }
        header#header-logo-main .box-menu-header .nav-logo-page ul.box-main-menu li.list-menu a.item-menu:hover, header#header-logo-main .box-menu-header .nav-logo-page ul.box-main-menu li.list-menu a.item-menu.active {
          border: 2px solid #ffc104;
          color: #ffc104; }
      header#header-logo-main .box-menu-header .nav-logo-page ul.box-main-menu li.list-menu a.btn-search:hover, header#header-logo-main .box-menu-header .nav-logo-page ul.box-main-menu li.list-menu a.btn-search.active {
        border: none; }
      header#header-logo-main .box-menu-header .nav-logo-page ul.box-main-menu li.list-menu a.btn-search span.search {
        width: 50px;
        height: 50px;
        background: url("../images/ico-search.png") no-repeat center center;
        -webkit-background-size: 100%;
        background-size: 100%;
        display: inline-block; }
  header#header-logo-main .box-advertise {
    margin-top: 100px;
    margin-bottom: 100px; }
    header#header-logo-main .box-advertise .advertise-left {
      border-right: 1px solid #ffffff; }
      header#header-logo-main .box-advertise .advertise-left .text-advertise {
        font-size: 2.5em; }
      header#header-logo-main .box-advertise .advertise-left .btn-view {
        height: 40px;
        background: #248503;
        display: inline-block;
        padding: 10px 10px;
        font-size: 1.2em;
        font-weight: bold; }
    header#header-logo-main .box-advertise .advertise-right .title-advertise {
      font-size: 2.5em;
      font-weight: bold; }

.box-container {
  /*box status*/
  /*box status*/
  /*box market*/
  /*box market*/ }
  .box-container .bar-status {
    background: #ffffff;
    color: #333333;
    border-left: 5px solid #ffc104;
    padding: 10px 10px;
    margin-top: 10px;
    margin-bottom: 10px; }
    .box-container .bar-status .box-btc, .box-container .bar-status .box-eth {
      line-height: 25px;
      display: inline-block;
      text-transform: uppercase;
      font-weight: bold; }
    .box-container .bar-status .box-eth {
      margin-left: 20px; }
    .box-container .bar-status .ico-eth:before, .box-container .bar-status .ico-btc:before {
      content: "";
      display: inline-block;
      width: 25px;
      height: 25px;
      margin-right: 5px;
      float: left; }
    .box-container .bar-status .ico-btc:before {
      background: url("../images/ico-btc.png") no-repeat;
      background-size: 100%; }
    .box-container .bar-status .ico-eth:before {
      background: url("../images/ico-eth.png") no-repeat;
      background-size: 100%; }
    .box-container .bar-status .btn-update {
      display: inline-block;
      padding: 2px 10px;
      background: #ff0504;
      color: #ffffff;
      text-transform: uppercase;
      cursor: pointer;
      margin-left: 20px;
      font-weight: bold; }
    .box-container .bar-status .text-red {
      color: #ff0504; }
  .box-container .box-market-term {
    background: #ffffff;
    color: #333333; }
  .box-container .box-market-term {
    padding-bottom: 70px; }
    .box-container .box-market-term .title-market-term {
      text-align: center;
      font-size: 2em;
      padding-top: 50px;
      padding-bottom: 50px;
      font-weight: bold; }
      .box-container .box-market-term .title-market-term span.border-yellow {
        display: block;
        margin: auto;
        width: 100px;
        border-bottom: 2px solid #ffc104;
        margin-top: 10px; }
    .box-container .box-market-term .box-circle-yellow {
      width: 150px;
      background: yellow;
      border-radius: 50%;
      height: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto; }
    .box-container .box-market-term .text-market {
      padding: 10px 20px;
      text-align: center; }

/*box profit*/
.box-profit {
  color: #ffffff;
  background: url("../images/bg-profit.jpg") no-repeat;
  background-size: 100%;
  padding: 50px 0; }
  .box-profit .title-profit {
    font-size: 2em;
    padding-left: 20px;
    margin-bottom: 20px;
    border-left: 2px solid #ffc104; }
  .box-profit .description-profit {
    margin-bottom: 20px; }
  .box-profit .button-today {
    display: inline-block;
    padding: 5px 10px;
    font-size: 1.2em;
    text-transform: uppercase;
    background: #ffc104;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px; }

/*box profit*/
/*tab active*/
.tab-active-ico {
  background: #ffffff;
  color: #333333;
  padding-bottom: 50px; }
  .tab-active-ico .box-tab {
    padding: 20px 0; }
    .tab-active-ico .box-tab .title-tab {
      font-size: 3em;
      border-left: 2px solid #ffc104;
      display: inline-block;
      padding-left: 20px;
      margin-left: 35px;
      text-transform: uppercase;
      font-weight: bold; }
    .tab-active-ico .box-tab .tab-change {
      padding-left: 50px;
      border-bottom: 1px solid #ffc104; }
      .tab-active-ico .box-tab .tab-change .tab-item {
        display: inline-block;
        padding: 5px 20px;
        border-right: 1px solid #ffc104; }
        .tab-active-ico .box-tab .tab-change .tab-item a {
          color: #333333;
          font-weight: bold;
          text-decoration: none; }
          .tab-active-ico .box-tab .tab-change .tab-item a:hover {
            color: #ffc104; }
        .tab-active-ico .box-tab .tab-change .tab-item.active a {
          color: #ffc104; }
  .tab-active-ico .tab-content .tab-pane {
    padding-bottom: 10px; }
  .tab-active-ico .tab-content .box-fintru {
    border: 1px solid #000000;
    box-shadow: 5px 5px 5px #858585;
    padding: 20px;
    margin-bottom: 30px; }
    .tab-active-ico .tab-content .box-fintru .img-logo {
      display: inline-block;
      float: left;
      padding-top: 7px; }
    .tab-active-ico .tab-content .box-fintru .title-finance {
      display: inline-block;
      padding-left: 10px; }
      .tab-active-ico .tab-content .box-fintru .title-finance .title {
        font-size: 1.5em;
        font-weight: bold; }
      .tab-active-ico .tab-content .box-fintru .title-finance .color-red {
        color: #ff0504; }
    .tab-active-ico .tab-content .box-fintru .status {
      padding-top: 15px; }
  .tab-active-ico .btn-view-all {
    text-align: center; }
    .tab-active-ico .btn-view-all a {
      margin: auto;
      display: inline-block;
      background: #ffc104;
      padding: 7px 15px;
      font-size: 1.5em;
      border-radius: 7px;
      color: #ffffff;
      font-weight: bold;
      cursor: pointer; }

/*tab active*/
/*VIEW OUR LATEST NEWS*/
.view-our-lasted {
  background: #ffffff;
  padding-bottom: 50px;
  margin-bottom: 10px; }
  .view-our-lasted .title-view-our {
    text-align: center;
    font-size: 2em;
    padding-top: 50px;
    padding-bottom: 50px;
    font-weight: bold;
    color: #000000; }
    .view-our-lasted .title-view-our .border-yellow {
      display: block;
      margin: auto;
      width: 100px;
      border-bottom: 2px solid #ffc104;
      margin-top: 10px; }
  .view-our-lasted .box-list-news {
    width: 80%;
    margin: auto;
    margin-bottom: 30px; }
    .view-our-lasted .box-list-news .box-item-news {
      position: relative; }
      .view-our-lasted .box-list-news .box-item-news .item-image {
        width: 100%; }
      .view-our-lasted .box-list-news .box-item-news .text-info-news {
        position: absolute;
        left: 15px;
        bottom: 20px; }
        .view-our-lasted .box-list-news .box-item-news .text-info-news .title-news {
          font-size: 1.3em;
          font-weight: bold;
          padding-bottom: 20px;
          display: block;
          height: 72px; }
  .view-our-lasted .btn-view-all {
    text-align: center; }
    .view-our-lasted .btn-view-all a {
      margin: auto;
      display: inline-block;
      background: #ffc104;
      padding: 7px 15px;
      font-size: 1.5em;
      border-radius: 7px;
      color: #ffffff;
      font-weight: bold;
      cursor: pointer; }

/*VIEW OUR LATEST NEWS*/
/*Subscribe to ICOmarks Newsletter*/
.box-newsletter {
  background: #ffffff;
  color: #000000;
  text-align: center;
  padding: 50px;
  margin-bottom: 50px; }
  .box-newsletter .title-newsletter {
    font-size: 2em;
    color: #ffc104; }
  .box-newsletter .des-newsletter {
    padding-bottom: 20px; }
  .box-newsletter .box-input-email .input-email {
    display: inline-block;
    height: 45px;
    padding: 5px 20px;
    border-radius: 20px;
    background: #e9e9ec;
    border: none;
    font-size: 2em;
    color: #979798; }
  .box-newsletter .box-input-email .btn-subscribe {
    display: inline-block;
    font-size: 2em;
    text-transform: uppercase;
    color: #ffffff;
    background: #ffc104;
    border-radius: 50px;
    padding: 5px 30px;
    font-weight: bold;
    cursor: pointer; }

/*Subscribe to ICOmarks Newsletter*/
/*footer*/
footer {
  background: #28292d;
  border-top: 5px solid #ffc104; }
  footer .content-footer {
    padding: 30px; }
    footer .content-footer .text-info-com {
      width: 75%;
      padding-top: 10px; }
    footer .content-footer .list-menu-footer .item-menu {
      width: 75%;
      padding-top: 10px; }

/*footer*/
/*setup size menu main in nav*/
/*setup content center*/
/*setup size menu main in nav on mobile*/
/*setup font-size portfolio title and des*/
/*setup font-size footer*/
/*
* devide large > 1200px
*/
@media screen and (min-width: 1200px) {
  /*
* devide large > 1200px
*/
  header {
    width: 100%;
    height: 56px; }

  header .box-header {
    width: 100%; }
  header nav.nav-giahu-page ul.box-main-menu a {
    padding: 19px 10px; } }
/*
* devide medium > 992px and < 1200
*/
@media screen and (min-width: 992px) and (max-width: 1200px) {
  /*
* devide medium > 992px and < 1200
*/
  header {
    width: 100%;
    height: 127px; }

  header {
    text-align: center; }
    header div.logo-gia-hu {
      float: none !important; }
    header nav.nav-giahu-page {
      float: none !important; }

  .content-portforlio div.box-portfolio a.item-portfolio span.title-portfolio {
    font-size: 22px; }
  .content-portforlio div.box-portfolio .box-description {
    font-size: 14px; }

  .container.project-detail #sticky.stick {
    top: 120px; } }
/*
* devide small > 768px and < 992px
*/
@media screen and (min-width: 768px) and (max-width: 992px) {
  /*
* devide small > 768px and < 992px
*/
  header {
    width: 100%;
    height: 56px; }

  header {
    text-align: center; }
    header div.logo-gia-hu {
      float: none !important; }
    header nav.nav-giahu-page {
      float: none !important; }

  header .box-header {
    width: 100%; }
  header nav.nav-giahu-page ul.box-main-menu a {
    padding: 30px 7px;
    font-size: 15px; }

  footer.footer-giahu h2 {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 20px; }

  footer.footer-giahu p {
    width: 70%;
    font-size: 12px; }

  .content-portforlio div.box-portfolio {
    margin-top: 20px; }

  div.box-logo-partner {
    margin-top: 30px;
    margin-bottom: 30px; } }
/*
* devide extra small > 425px and < 768px
*/
@media screen and (min-width: 425px) and (max-width: 768px) {
  /*
* devide extra small > 425px and < 768px
*/
  header a.mobile-menu {
    display: block; }
  header nav.nav-giahu-page {
    clear: both;
    display: none; }
    header nav.nav-giahu-page ul.box-main-menu li.list-menu {
      display: block; }
    header nav.nav-giahu-page ul.box-sub-menu {
      position: static; }
      header nav.nav-giahu-page ul.box-sub-menu .sub-item-menu {
        padding: 9px 30px !important;
        font-size: 15px !important;
        border-top: none !important; }
  header div.logo-gia-hu {
    float: left !important; }
    header div.logo-gia-hu img {
      width: 200px; }

  header {
    width: 100%;
    height: 50px; }

  header .box-header {
    width: 100%; }
  header nav.nav-giahu-page ul.box-main-menu a {
    padding: 5px 15px;
    font-size: 15px; }

  header {
    text-align: center; }
    header nav.nav-giahu-page {
      float: none !important; }

  footer.footer-giahu h2 {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 20px; }

  footer.footer-giahu p {
    width: 70%;
    font-size: 12px; }

  .container div.box-tab.text-center a.tab-content {
    padding: 15px 10px;
    font-size: 14px; }

  .content-portforlio div.box-portfolio {
    margin-top: 20px; }

  div.box-logo-partner {
    margin-top: 30px;
    margin-bottom: 30px; } }
/*
* devide mobile <425px
*/
@media screen and (max-width: 425px) {
  /*
* devide mobile <425px
*/
  header a.mobile-menu {
    display: block; }
  header nav.nav-giahu-page {
    clear: both;
    display: none; }
    header nav.nav-giahu-page ul.box-main-menu li.list-menu {
      display: block; }
    header nav.nav-giahu-page ul.box-sub-menu {
      position: static; }
      header nav.nav-giahu-page ul.box-sub-menu .sub-item-menu {
        padding: 9px 30px !important;
        font-size: 15px !important;
        border-top: none !important; }
  header div.logo-gia-hu {
    float: left !important; }
    header div.logo-gia-hu img {
      width: 200px; }

  header {
    width: 100%;
    height: 56px; }

  header .box-header {
    width: 100%; }
  header nav.nav-giahu-page ul.box-main-menu a {
    padding: 5px 15px;
    font-size: 15px; }

  header {
    text-align: center; }
    header nav.nav-giahu-page {
      float: none !important; }

  footer.footer-giahu h2 {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 20px; }

  footer.footer-giahu p {
    width: 70%;
    font-size: 12px; }

  .container div.box-tab.text-center a.tab-content {
    padding: 10px 10px;
    font-size: 14px;
    width: 100%;
    display: block; }

  div.box-logo-partner .owl-carousel .owl-item img {
    width: 70%;
    margin: auto; }
  div.box-logo-partner .owl-theme .owl-nav {
    left: -10%;
    width: 120%; }

  div.box-logo-partner {
    margin-top: 20px;
    margin-bottom: 20px; }

  .content-portforlio div.box-portfolio {
    margin-top: 20px; }

  .content-portforlio {
    margin-top: 20px;
    margin-bottom: 20px; } }

/*# sourceMappingURL=styles.css.map */
