@media screen
and (min-width: $devide_size_mobile)
and (max-width: $devide_size_small)
{
  /*
* devide extra small > 425px and < 768px
*/

  header#header-logo-main{
    -webkit-background-size: auto;
    background-size: auto;
    /*navigate status social top*/
    .bar-top-header{
      .button-top{
        border: none;
        padding: 2px 0;
        a{
          span{
            display: none;
          }
        }
      }
      .phone-number{
        a.telephone{

        }
      }
      .send-mail{
        a.email{

        }
      }
      /*list socials*/
      .list-socials{
        border: none;
        padding: 2px 0;
        ul.box-socials{
          text-align: center;
        }
      }

    }
    /*navigate status social top*/

    /*box menu navigation header*/
    .box-menu-header{
      padding-top: 20px;
      position: relative;
      .mobile-menu{
        display: block;
        font-size: 2em;
        text-align: right;
        padding-right: 20px;
        padding-bottom: 30px;
      }
      .logo-main{
        text-align: center;
      }
      .nav-logo-page{
        display: none;
        ul.box-main-menu{
          li.list-menu{
            float: none;
            a.item-menu{
              display: block;
              font-size: 1em;
            }

          }
        }
      }
    }
    /*box menu navigation header*/

    /*box advertise*/
    .box-advertise{
      margin-top: 20px;
      margin-bottom: 20px;
      text-align: center;
      .advertise-left{
        border: none;
        .text-advertise{
          font-size: 1.5em;
        }
        .btn-view {
          height: auto;
          padding: 5px 5px;
          font-size: 1em;
        }
      }
      .advertise-right {
        .title-advertise{
          font-size: 1.5em;
          padding-top: 20px;
        }
      }

    }
    /*box advertise*/
  }


  /*box profit*/
  .box-profit{
    background-size: auto;
    background-position: top center;
  }
  /*box profit*/

  .view-our-lasted {
    .box-list-news {
      .box-item-news{
        margin-bottom: 20px;
      }
    }
  }

  .box-newsletter {
    padding: 20px;
    margin-bottom: 20px;
    .box-input-email {
      .input-email{
        height: 30px;
        padding: 5px 20px;
        font-size: 1em;
        margin-bottom: 10px;
      }
      .btn-subscribe {
        font-size: 1em;
        padding: 5px 30px;
      }
    }
  }
}
@media (max-width: 767px)
{
  header#header-logo-main {
    .box-menu-header {
      .mobile-menu {
        position: absolute;
        top: 25px;
        right: 0;
      }
      .logo-main{
        padding-bottom: 10px;
      }
      .nav-logo-page {
        ul.box-main-menu {
          li.list-menu {
            a.item-menu{
              text-align: center;
            }
          }
        }
      }
    }

  }
}