@media screen
and (min-width: $devide_size_mobile)
and (max-width: $devide_size_small)
{
  /*
* devide extra small > 425px and < 768px
*/
  header {
    a.mobile-menu{
      display: block;
    }
    nav.nav-giahu-page{
      clear: both;
      display: none;
      ul.box-main-menu {
        li.list-menu {
          display: block;

        }
      }
      ul.box-sub-menu {
        position: static;
        .sub-item-menu {
          padding: 9px 30px !important;
          font-size: 15px !important;
          border-top: none !important;
        }

      }
    }
    div.logo-gia-hu {
      float: left !important;
      img{
        width: 200px;
      }
    }

  }
  @include setMarginTopMenu(50px);
  @include resizeHeaderMenu(100%, 5px 15px, 15px);
  @include setHeaderMenuMobile();
  @include setFontSizeFooter();

  @include setTabMenu(15px 10px, 14px);
  .content-portforlio div.box-portfolio{
    margin-top: 20px;
  }
  @include setMarginPartner(30px, 30px);
}