@media screen
and (max-width: $devide_size_mobile)
{
  /*
* devide mobile <425px
*/
  header {
    a.mobile-menu{
      display: block;
    }
    nav.nav-giahu-page{
      clear: both;
      display: none;
      ul.box-main-menu {
        li.list-menu {
          display: block;
        }
      }
      ul.box-sub-menu {
        position: static;
        .sub-item-menu {
          padding: 9px 30px !important;
          font-size: 15px !important;
          border-top: none !important;
        }

      }
    }
    div.logo-gia-hu {
      float: left !important;
      img{
        width: 200px;
      }
    }

  }
  @include setMarginTopMenu(56px);
  @include resizeHeaderMenu(100%, 5px 15px, 15px);
  @include setHeaderMenuMobile();
  @include setFontSizeFooter();

  @include setTabMenu(10px 10px, 14px, 100%, block);

  @include setImagePartner(70%, -10%, 120%);
  @include setMarginPartner(20px, 20px);

  .content-portforlio div.box-portfolio{
    margin-top: 20px;
  }
  .content-portforlio {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}